#Header-img{
    width:70%;
    height:auto;
}

.Header-head{
    margin-top:20px;
    text-align: center;
}

#Header-search{
    text-align: center;
    padding-top:60px;
}

#Header-input{
    border: 2px solid #02B488;
    border-radius: 4px
}

#Header-container{
    padding: 0px;
}

.Main-nav {
    background: #02B488;
    color: #FFFFFF;
}
.Main-nav-link {
    color: #FFFFFF;
}

.Footer {
  background-color: #02B488;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.Footer-small {
  color: #FFFFFF
}

#image{
    height: 300px;
    width:100%;
}

.Client-head {
    background-color: #02B488;
    color: #FFFFFF;
}
.Client-img {
    width: 40px;
    height: auto;
    padding: 5px;
}

.Client-logo {
    width: 30%;
    padding: 5px;
}
#itemsForm  {
    margin: 50px;
}